<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
      <p><%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail) %></p>
      <% @cocktail.doses.each do |dose| %>
        <p><%= link_to dose.ingredient.name, edit_cocktail_dose_path(dose) %> <%= dose.description %></p>
      <% end %>
    </div>

  </div>
</div>
